.skills{
    background-color: rgb(49, 61, 70);
     color: rgb(169, 178, 185);;
    display: flex;
    width: 90vw;
    justify-content: space-evenly;
}
.apply{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(123, 129, 138);
    color: aliceblue;
    width: 100vw;
    min-height: 100vh;
    margin-top:50px
}
h1{
    color: rgb(169, 178, 185);
}
.description>p{
    padding: 2px;
    color: rgb(49, 61, 70);
}
.description{
    width: 99vw;
    padding: 10px;
  
   
}
.info-top{
    display: flex;
    padding: 20px;
    width: 60vw;
    justify-content: space-evenly;
    border-top: 1px solid grey;
    margin-top: 20px;
}
h5{
    color: rgb(169, 178, 185);;
}
#apply-btn{
    background-color: rgb(49, 61, 70);
    padding: 20px;
    transition: .1s border-radius;
    text-decoration: none;
    color: aliceblue;
    width: fit-content;
    height: 22px;
}
#apply-btn:hover{
    color: rgb(248, 246, 96);
    border-radius: 10px;
}
#save-btn{
    background-color: rgb(49, 61, 70);
    padding: 20px;
  border-radius:0 ;
    text-decoration: none;
    color: aliceblue;
    width: fit-content;
    margin: 20px;
    transition: .1s border-radius;
}

#save-btn:hover{
    color: rgb(248, 246, 96);
    border-radius: 10px;
}
.apply-page-btns{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}