.selector{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 20px;
    height: fit-content;

    justify-content: space-evenly;
}
.home{
    padding-top: 50px;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: rgb(20, 7, 7);
    justify-content: center;
        
}
@media screen and (max-width:800px) {
    .home{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
    height: fit-content;
    }
    li{
      
        display:none;
    }

}
.job-list{
    padding: 0%;
    height: 90vh;
   overflow-y: scroll;
   background-color: rgb(46, 17, 17);
   
   border: 1px solid rgba(110, 105, 105, 0.247);
    
}
.job-list-item{
   
    border: 1px solid rgb(145, 93, 93);
    color:rgb(248, 246, 96);
    min-height: 150px;;
    min-width: 300px;
    width: 50vw;
    margin:20px;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    
    
}
.select-item{
 font-weight: 600;
  color: rgb(240, 209, 36);
  padding: 2px;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.selector>h5{
    margin:0;
    color: rgb(255, 255, 255);
   

    min-height: 30px;;

}
.skill-list{
    display: flex;
    width: 100%;
   
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
}
.skill-item{
    margin: 0;
    background-color: rgb(49, 70, 50);
    border-radius: 5px;;
    padding: 5px;;
    text-decoration: none;
}
#demo-simple-select{
    color: rgb(248, 246, 96);
    background-color: rgba(240, 248, 255, 0.048);
}
.job-item-btns{
    display: flex;
    flex-direction: column;
  width: 33%;
    justify-content: flex-start;
    height: 5%;
  

    
   
}
.job-item-btns>Button{
background-color: rgb(49, 70, 50);
width: 100%;

color:white;
margin:5px;
border-radius: 0;


}
.job-list-item-bottom{
    margin-top: 10px;;
    border-top: 1px solid rgb(155, 151, 151);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:flex-start;
    padding-top: 10px;
  
    
}
.job-location{
    display: flex;
    flex-direction: column;
    align-items:center ;
  
 
    justify-content: flex-start;
    width: 33%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
 
}
.job-posted{
    display: flex;
    flex-direction: column;
    align-items:center ;
    
 
    justify-content: flex-start;
    width: 33%;
}
.selector>h5{
    margin-top: 10px;
}
.skip-container{
    margin-top: 20px;
    display: flex;
    height: 80px;
    align-items: center;
    background-color: rgb(49, 70, 50);
    justify-content: center;
}
.skip-container>h2{
    color: rgb(240, 209, 36);
}
.skip-container>p{
    color: rgb(240, 209, 36);
}
.skip-container>Button{
    color:rgb(240, 209, 36); ;
}