.login{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  align-items: center;
    justify-content: center;
    background-color: rgb(123, 129, 138);

}


.login-form{
width: fit-content;
background-color:  rgb(49, 61, 70);
padding: 20px;
border-radius: 20px;
color:rgb(169, 178, 185)
}
.login-form>Button{
    background-color: rgba(84, 90, 92, 0.63);
    color: rgb(169, 178, 185);
    margin: 20px;
}
#email{
  background-color: aliceblue;
}
#password{
  background-color: aliceblue;
}