.navbar{
    position: fixed;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    width: 90vw;
    padding-right: 200px;
    background-color:   rgb(49, 70, 50);;
    align-items: center;
    z-index: 3;
}
.login-btn{
    background-color:rgba(68, 90, 69, 0.493);
    text-decoration: none;
    font-size: 18px;
    height: fit-content;
    padding: 5px;
    color:yellow;
    font-weight: 600;

   
   
}
.login-btn:hover{
   
    background-color: rgb(37, 18, 18);
  
}
.saved-btn{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    background-color: rgba(68, 90, 69, 0.493);
    padding: 5px;
}
.saved-btn:hover{
    color:rgb(49, 70, 50) ;
    background-color: rgb(37, 18, 18);
  
}
#home-icon{
    margin-right:20px;
    color: yellow;
}
#home-icon:hover{
    color:rgb(37, 18, 18);
}